<div class="section-nationale7-explanation">
  <p class="cest-quoi-explanation-title">Nationale 7, c'est quoi ?</p>
  <div class="title-green-line"></div>
  
  <div class="four-sub-sections-wrap">
    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "meilleur-prix.jpg" %>
      </div>
      <div class="sub-section-title">
        MEILLEUR PRIX </br>GARANTI
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Le vendeur en obtient plus.</p>
        <p class="sub-section-copy-line">L’acheteur paye moins.</p>
      </div>
    </div>

    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "inspection-garantie.jpg" %>
      </div>
      <div class="sub-section-title">
        INSPECTION EN 75 POINTS</br>ET GARANTIE 6 MOIS
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Des professionnels à votre service.</p>
        <p class="sub-section-copy-line">Finies les mauvaises surprises.</p>
      </div>
    </div>

    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "livraison-essai.jpg" %>
      </div>
      <div class="sub-section-title">
        LIVRAISON ET ESSAI</br>CHEZ VOUS
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Voitures préparées avec soin, livrées avec amour.</p>
      </div>
    </div>

    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "paiement-paperasse.jpg" %>
      </div>
      <div class="sub-section-title">
        PAIEMENT SÉCURISÉ</br>ET PAPERASSE 100% GÉRÉE
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Transaction au coup </br> de coeur sans prise de tête.</p>
      </div>
    </div>
  </div>
</div>