.header-product {
  height: 8em;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.logo-product {
  width: 21em;
  float: left;
  margin-left: 3.5em;
  margin-top: 0.9em;
}

.header-link-product{
  padding: 0;
  font-size: 14px;
  margin-top: 2em;
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: #69a2d2;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,1.00017762689619,0,0);
  -webkit-transform: matrix( 1,0,0,1.00017762689619,0,0);
  -ms-transform: matrix( 1,0,0,1.00017762689619,0,0);
}

a.menu-link-product {
  text-decoration-line: none;
  color: #69a2d2;
}

a.menu-link-product:hover {
  text-decoration-line: none;
  color: #69a2d2;
}

a.menu-link-product:visited {
  text-decoration: none;
  color: #69a2d2;
}

.sliding-blue:hover:after {
  background: #69a2d2;
}

.phone-number-header-product {
  margin-right: 5em;
  width: 9.5em;
  height: 2.4em;
  background-color: rgba(105, 162, 210, 0.40);
  margin-top: 2em;
  border-radius: 40px;
}

a.header-number-product {
  color: #528dd2;
  font-family: 'Montserrat', serif;  
}

a.sub-menu-link-product:link {
  text-decoration-line: none; 
  list-style-type: none;
  color: #69a2d2;
  font-size: 14px;
  padding: 5px 0 10px 0;
  /*z-index: 100;*/
}

a.sub-menu-link-product.first-link:link {
  padding-top: 20px;
}

a.sub-menu-link-product:visited {
  text-decoration-line: none; 
  list-style-type: none;
  color: #69a2d2;
}

.car-header-description {
  margin-top: 1em;
  display: none;
}

.photo-car-description {
    width: 35em;
    height: 5em;
    background-color: rgba(255, 255, 255, 0.67);
    position: relative;
    left: 15%;
    z-index: 80;
    top: 8em;
    font-family: 'Montserrat';
    border-top-right-radius: 50px;
    padding-left: 6em;
    font-size: 1.2em;
    padding-top: 0.8em;
}

.photo-car-description-mobile {
  display: none;
}

.photo-car-description-h2 {
  color: black;
  font-size: 1.4em;
  margin-bottom: 0em;
}

.photo-car-description-p {
  font-family: 'Montserrat-Light';
  color: black;
  font-size: 1.1em;
}
/*
.slider-for {
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 2em;
}*/

.car-data-wrap {
  height: 100%;
}

.car-data-menu {
  width: 52%;
  margin-left: 12%;
  margin-bottom: 6em;
  font-family: 'Montserrat',
}

.prix-n7 {
  height: 2.4em;
  font-size: 3em;
  margin-left: 16%;
  display: flex;
  align-items: center;
  margin-top: 1em;
  font-family: 'Montserrat';
  display: inline-block;
}

.achetez-button {
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  font-size: 2.4em;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat-UltraLight';
  width: 25%;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4em;
  background-color: #E54B40;
  float: right;
  margin-right: 18%;
  padding-right: 0.8em;
  padding-left: 0.8em;
  left: 67%;
  margin-top: -3.5em;
  position: absolute;
}

.achetez-button:hover {
  opacity: 0.7;
}

.certifie-experveo {
  display: flex;
  float: right;
  margin-top: -3em;
  position: absolute;
  left: 73%;
  width: 10em;
  height: 7em;
}

.certifie-experveo-mobile {
  display: none;
}

.com-general {
  float: right;
  position: absolute;
  left: 67%;
  margin-top: 5em;
  width: 25%;
  font-family: 'Montserrat-Light';
  font-size: 1.1em;
}

.com-general-mobile {
  display: none;
}

.com-general-titre {
  color: #69a2d2;
  font-family: 'Montserrat';
  margin-bottom: 1em;
  font-size: 1.2em;
}

a.car-menu-title {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 1.2em;
  color: rgb(63, 63, 63);
  line-height: 1.2;
  margin-bottom: 2em;
}

a.car-menu-title:before {
  content : "";
  position: absolute;
  left    : 1.1em;
  bottom  : 0;
  height  : 1px;
  width   : 95%;  /* or 100px */
  border-bottom:1px solid rgb(63, 63, 63);
}

.is-accordion-submenu-parent > a::after {
  border-color: #69a2d2 transparent transparent;
      border-top-width: 18px;
    border-right-width: 18px;
    border-left-width: 18px;
}

ul.two-column-section {
  columns: 2;
}

.car-menu-li {
  list-style-type: none;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Montserrat';
}

.car-menu-subtitle-ul {
  font-family: 'Montserrat';
  padding-left: 0em;
}

.menu.vertical.sublevel-1 {
  margin-bottom: 2em;
  width: 94%;
}

.menu.nested {
  width: 93%;
}

a.car-menu-subtitle-a {
  color: #69a2d2;
  font-size: 1.2em;
}

.tabs-title > a[aria-selected='true'] {
  padding: 0.9em 1.92em 0.9em 1.92em;
}

.tabs-title > a[aria-selected='false'] {
  padding: 0.9em 1.92em 0.9em 1.92em;
}

a.inspection-title {
  color: #69a2d2;
  border-bottom: 1px solid #e6e6e6;
  font-family: 'Montserrat';
  padding-bottom: 0.2em;
  padding-top: 1em;
  margin-bottom: 1.4em;
  font-size: 1.2em;
}

.inspection-line {
  font-family: 'Montserrat';
  height: 2em;
}

.boolean-adjustment {
  display: inline-block;
  vertical-align: super;
}

.fa-check {
  color: #0fcc0f;
}

.fa-times {
  color: red;
}

.margin-pneus {
  margin-top: 1em;
}

.sublevel-2 {
  margin-bottom: 3em;
}

.n7-explanation-wrapper {
  background-color: blue;
}

.contact-wrapper {
  background-color: #f9f9f9;
}

.contact-title {
  padding-top: 1em;
  margin-bottom: 0.6em;
  font-size: 2em;
  color: rgb(105, 162, 210);
  text-align: center;
}

.contact-copy {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0em;
}

.contact-form {
  padding-bottom: 4em;
  margin-top: 3em;
}

.optional {
  font-family: 'Montserrat';
  font-size: 1.1em;
  width: 51%;
  margin-left: 20%;
}

/*The code below is a repeat of the same rule for the form input fields. I wasn't able to get custom classes around the field itself, so I used the id generated by the gem.
*/

#contact_email {
  border: 2px solid #69a2d2;
  border-radius: 5px;
}

#contact_phone_number {
  border: 2px solid #69a2d2;
  border-radius: 5px;
}

#contact_message {
  border: 2px solid #69a2d2;
  font-size: 0.9em;
  width: 77%;
  height: 7em;
}

input.button.contact-form-button {
  margin-left: 45%;
  background-color: #69a2d2;
  color: white;
}

input.button.contact-form-button:hover {
  margin-left: 45%;
  background-color: rgba(145,188,221,0.85);
  color: white;
}

.confirmation-message {
  width: 100%;
  background-color: #E54B40;
  color: white;
  font-size: 1.4em;
  text-align: center;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.alert-dismiss {
  font-size: 3em;
  color: black;
  margin-right: 0.4em;
}

.garantie-copy {
  margin-bottom: 0em;
}


@media only screen and (max-width: 900px) {


/*  .phone-number-header-homepage {
    display: none;
  }*/
  .productpage-nav-bar {
    display: none;
  }

  div.slicknav_menu {
    display: block;
    background-color: rgba(244, 250, 250, 0.83);
    /*opacity: 0.6;*/
  }

  a.slicknav_btn {
    background-color: #f4fafa;
    margin-right: 50%;
    /*width: 16%;*/
  }

  .slicknav_icon-bar {
    background-color: #69a2d2;
  }

  .logo-product {
    float: none;
    margin: 0 auto;
    padding-top: 0em; 
    margin-top: 2em;
  }

  .menu-link-mobile {
    color: black;
  }

  .white-popup {

  }

  a.help-button-chat {
    width: 20em;
  }

  a.help-button-email {
    width: 20em;
  }

  .slider-nav {
    height: 6em;
  }

  .photo-car-description {
    display: none;
  }

  .photo-car-description-mobile {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-top: 0em;
  }

  .prix-n7 {
    height: 2.4em;
    font-size: 3em;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    margin-left: 0em;
    margin-bottom: -1em;
  }

  .achetez-button {
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 2.8em;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-UltraLight';
    width: 8.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E54B40;
    margin: 0 auto;
    margin-bottom: 2em;
    float: none;
    position: inherit;
  }

  .certifie-experveo {
    display: none;
  }

  .certifie-experveo-mobile {
    display: block;
    float: none;
    margin-top: 0em; 
    position: inherit;
    left: 0%; 
    width: 14em;
    margin: 0 auto;
    margin-top: 4em;  
  }

  .car-data-menu {
    width: 100%; 
    margin-left: 0; 
    margin-bottom: 6em;
    font-family: 'Montserrat',;
  }

  ul {
    padding: 0em;
    margin: 0em;
  }

  a.car-menu-title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.2em;
    color: rgb(63, 63, 63);
    /*line-height: 1.4;*/
    margin-bottom: 0.8em;
    padding-left: 0em;
    width: 95%;
  }

  .menu > li > a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1.4;
  }

  .inspection-line {
    margin-left: 5%;
    height: inherit;
  }

  .is-accordion-submenu-parent > a::after {
    border-color: #e2f3f2 transparent transparent;
    border-top-width: 12px;
    border-right-width: 12px;
    border-left-width: 12px;
    padding-left: 2px;
    right: 1em;
  }

  .garantie-section {
    margin-left: 5%;
  }

  .com-general-mobile {
    padding-top: 2em;
    width: 90%;
    font-family: 'Montserrat-Light';
    font-size: 1.1em;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .com-general {
    display: none;
  }


  .optional {
    width: 90%;
    margin-left: 0%;
    margin: 0 auto;
  }

  #contact_email {
    border: 2px solid #69a2d2;
    border-radius: 5px;
    width: 90%;
  }

  #contact_phone_number {
    border: 2px solid #69a2d2;
    border-radius: 5px;
    width: 90%;
  }

  #contact_message {
    border: 2px solid #69a2d2;
    font-size: 0.9em;
    width: 77%;
    height: 7em;
    width: 90%;
  }

  input.button.contact-form-button {
    margin-left: 30%;
  }


}



