* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Montserrat', serif;
  position: relative; 
}

a, a:link, a:visited {
  text-decoration: none;
}

span {
  display: block;
}

.header-homepage {
  height: 52em;
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Website+assets/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
}

.logo-homepage {
  width: 21em;
  float: left;
  margin-left: 3.5em;
  margin-top: 0.9em;
}

.header-link-homepage {
  padding: 0;
  font-size: 14px;
  margin-top: 2em;
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,1.00017762689619,0,0);
  -webkit-transform: matrix( 1,0,0,1.00017762689619,0,0);
  -ms-transform: matrix( 1,0,0,1.00017762689619,0,0);
}

.pourquoi-n7 {
  width: 15.5em;
  padding-top: 0.7em;
  text-align: center;
}

.sub-menu-homepage {
  height: 19em;
  width: 100%;
  background-color: rgb(245, 245, 245);
  position: absolute;
  margin-top: 0.5em;

}

.homepage-nav-bar {
  position: absolute;
  right: 0em;
  z-index: 9999;
}

a.sub-menu-link-homepage {
  text-decoration-line: none; 
  list-style-type: none;
  color: black;
  font-size: 14px;
  padding: 5px 0 10px 0;
}

a.sub-menu-link-homepage.first-link {
  padding-top: 20px;
}

ul.header-sub-menu {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.phone-number-header-homepage {
  margin-right: 5em;
  width: 9.5em;
  height: 2.4em;
  opacity: 0.85;
  background-color: #ffffff;
  margin-top: 2em;
  border-radius: 40px;
}

a.header-number-homepage {
  color: rgb(121, 163, 212);
  font-family: 'Montserrat', serif;  
}

.white-popup {
  position: relative;
  background: rgb(245, 245, 245);
  padding: 20px;
  width: 26em;
  height: 100%;
  margin: 20px auto;
}

.parlez-nous {
  font-size: 2.5em;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  margin-top: 1em;
  font-family: 'Montserrat-UltraLight';
  font-weight: 600;
}

.horaires-popup {
  font-size: 2.1em;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  padding-top: 11em;
  font-family: 'Montserrat-UltraLight';
  font-weight: 600;
  position: inherit;
}

a.help-button-email {
  background-color: #E54B40;
  padding: 1.5em;
  float: left;
  border-top-right-radius: 35px;
  border-bottom-left-radius:35px;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  width: 17em;
  text-align: center;
  margin-bottom: 1em;
}

a.help-button-phone {
  background-color: rgb(105, 162, 210);
  padding: 1.5em;
  float: left;
  border-top-right-radius: 35px;
  border-bottom-left-radius:35px;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin-right: 3em;
  width: 17em;
  text-align: center;
}

 a.help-button-chat {
  background-color: #E54B40;
  padding: 1.5em;
  float: left;
  border-top-right-radius: 35px;
  border-bottom-left-radius:35px;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1em;
  width: 17em;
  text-align: center;
}

.align-right {
  list-style-type: none;
}

a.menu-link-homepage {
  text-decoration-line: none;
  color: #ffffff;
}

a.menu-link-homepage:hover {
  text-decoration-line: none;
  color: #ffffff;
}

a.menu-link-homepage:visited {
  text-decoration: none;
  color: #ffffff;
}

.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 2px;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
  width: 100%;
}

.sliding-white:hover:after {
  background: white;
}

.sliding-black:hover:after {
  background: black;
}

.homepage-tagline-container {
  text-align: center;
  left: 0;
  right: 0;
  padding-top: 17em;
}

.homepage-tagline {
  font-size: 32.5px;
  font-weight: 600;
  color: #ffffff;
  font-family: 'Montserrat-UltraLight';
  line-height: 40px;
}

.header-button-homepage {
  border-top-right-radius: 35px;
  border-bottom-left-radius:35px;
  font-size: 3.5em;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat-UltraLight';
  width: 6em;
  height: 1.3em;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 5.5em;
  cursor: pointer; 
  cursor: hand; 
}

.header-button-homepage:hover {
  cursor: pointer; 
  cursor: hand; 
}


.acheter-button {
  background-color: rgb(105, 162, 210);
  float: left; 
  margin-left: 2em; 
}

.acheter-button:hover {
  opacity: 0.7;
}

.vendre-button {
  background-color: #E54B40;
  float: right;  
  margin-right: 2em; 
}

.vendre-button:hover {
    opacity: 0.7;
}

.sub-explanation-homepage {
  width: 100%;
  height: 40em;
  background-color: rgba(203, 230, 230, 0.56);
  display: none;
}

.fleche {
  display:block;
  margin: 0 auto;
  width: 6em;
  height: 3em;
}

.sub-explanation-title {
  font-family: 'Montserrat-UltraLight';
  text-align: center;
  font-size: 2.7em;
  margin-top: 0.7em;
  margin-bottom: 0.8em;
  font-weight: 600;
}

.vendre-title {
  color: #E54B40;
}

.acheter-title {
  color: rgb(105, 162, 210);
}

.sub-explanation-bullets {
  font-family: 'Montserrat';
  list-style-position: inside;
  text-align: left;
  font-size: 1.5em;
  width: 23em;
}

.sub-explanation-table {
  display: table;
  margin: 0 auto;
}

li.sub-explanation-li {
  padding: 10px 0 10px 0;
  list-style-position: outside;
  margin-left: 1em;
}

.sub-explanation-page-link {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  width: 34em;
  height: 5em;
  text-align: center;
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.vendre-link {
  border-color: #E54B40;
}

.acheter-link {
  color: rgb(105, 162, 210);
}

a.sub-explanation-a-link {
  font-size: 1.6em;
  line-height: 23px;
  width: 30em;
  font-family: 'Montserrat';
}

a.vendre-a-link {
  color: #E54B40;  
}

a.acheter-a-link {
  color: rgb(105, 162, 210);
}

.section-nationale7-explanation {
  width: 100%;
  height: 40em;
}

.cest-quoi-explanation-title {
  text-align: center;
  font-family: 'Montserrat-Light';
  font-size: 2em;
  font-weight: 300;
  padding-top: 1.6em;
  margin-bottom: 0em;
}

.title-green-line {
  background-color: #cbe6e6;
  margin: 0 auto;
  width: 110.5px;
  height: 3.5px;
  border-radius: 25px;
  margin-bottom: 5em;
}

.four-sub-sections-wrap {
  display:flex;
  justify-content:center;
}

.sub-section-wrap {
  width: 25em;
  margin: 0 1.8em 0 1.8em;
  float: left;
}

.sub-section-picto {
  width: 140px;
  height: 145px;
  margin: 0 auto;
}

.sub-section-title {
  text-align: center;
  color: rgb(97, 153, 200);
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.7em;
  font-family: 'Montserrat';
}

.sub-section-copy {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 1.2em;
  line-height: 10px;
  color: #6b6767;
}

.sub-section-copy-line {
  margin: 0;
}

.section-clients-sereins {
  width: 100%;
  height: 74em;
  background-color: #e2f3f2;
}

.clients-sereins-explanation-title {
  text-align: center;
  font-family: 'Montserrat-Light';
  font-size: 2em;
  font-weight: 300;
  padding-top: 1.6em;
  margin-bottom: 0em;
}

a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {
  box-shadow: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.dernieres-voitures-section {
  height: 51em;
}

.dernieres-voitures-title {
  text-align: center;
  font-family: 'Montserrat-Light';
  font-size: 2em;
  font-weight: 300;
  padding-top: 1.6em;
  margin-bottom: 0em;
}

.derniere-voiture-name {
  font-family: 'Montserrat';
  font-size: 1.4em;
  color: #69a2d2;
  margin-top: 0.3em;
  margin-bottom: 0;
}

.derniere-voiture-prix {
  font-family: 'Montserrat';
  font-size: 1.3em;
  color: black;
  margin-bottom: 0;
  margin-top: -1em;
  /*position: absolute;*/
}

.picture-extras {
  height: 100%;
}

.extra-info-layer {
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  bottom: 3.72em;
  color: white;
  font-family: 'Montserrat';
  position: absolute;
  height: 3.4em;
  display: block;
  align-items: center;
  font-size: 1.2em;
  padding-left: 0.6em;
  top: -3.75em;
}

.engine-version {
  margin-bottom: 0em;
}

.mileage {
  margin-bottom: 0em;
  font-family: 'Montserrat-UltraLight';
}

.toutes-voitures-div {
  width: 100%;
}

a.toutes-voitures-link {
  text-align: center;
  font-family: 'Montserrat-Light';
  font-size: 2em;
  font-weight: 300;
  /*padding-top: 1.6em;*/
  display: block;
  color: black;
  margin-top: 2.4em;
  margin-bottom: 0.5em;
}

a.toutes-voitures-link:hover {
  color: #69a2d2;
}

.toutes-voitures-line {
background-color: #69a2d2;
    margin: 0 auto;
    width: 265.5px;
    height: 3.5px;
    border-radius: 25px;
    margin-bottom: 5em;
}

.toutes-voitures-line:hover {
  background-color: #cbe6e6;
}

.slicknav_menu {
  display: none;
}

#mobile-menu {
  display: none;  
}

@media only screen and (max-width: 1100px) {

  .phone-number-header-homepage {
    width: 0em;
    margin-right: 0em;
  }

  a.header-number-homepage {
    font-size: 0em;
  }

}

@media only screen and (max-width: 900px) {

  .logo-homepage {
    float: none;
    margin: 0 auto;
    padding-top: 2em; 
    margin-top: 0em;
  }

  .homepage-nav-bar {
    display: none;
  }

  .homepage-tagline {
      font-size: 28.5px;  
  }

  .homepage-tagline-container {
    padding-top: 9em;
  }

  .header-button-homepage {
    font-size: 2.3em;
    width: 5.3em;
    margin-top: 35%;
  }

  .acheter-button {
    margin-left: 0.3em; 
  }

  .vendre-button {
    margin-right: 0.3em; 
  }

  .section-nationale7-explanation {
    width: 100%;
    height: 100%;
  }

  .title-green-line {
    margin-bottom: 4em;
  }

  .four-sub-sections-wrap {
    display: inline-block;
    justify-content: none; 
    align-items: none;
  }

  .sub-section-wrap {
    width: 46%;
    margin: 0 1% 0 1%;
    float: left;
    margin-bottom: 2.5em;
  }

  .sub-section-title {
    font-size: 0.9em;
    line-height: inherit;
  }

  .sub-section-picto {
    width: 105px;
    height: 105px;
  }

  .sub-section-copy {
    font-size: 1em;
  }

  .section-clients-sereins {
      height: 100%;
  }

  .dernieres-voitures-section {
    height: inherit;
  }

  .derniere-voiture-prix {
    margin-bottom: 3em;
  }

  .sub-explanation-homepage {
    height: 100%;
  }

  .sub-explanation-title {
    font-size: 2em;
  }

  .sub-explanation-bullets {
    font-size: 1.2em;
  }

  .sub-explanation-page-link {
    margin-bottom: 2em;
    width: 90%;
  }

}

