.header-rechercher {
	height: 22em;
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Website+assets/header-vendre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
}

.form-intro {
	text-align: center;
	font-size: 1.4em;
	font-family: 'Montserrat';
	color: rgb(97, 153, 200);
	margin-top: 3em;
}

.global-form {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5em;
	width: 80%;
}

.form-title {
	font-size: 1.3em;
	margin-bottom: 1.3em;
}

.form-label {
	font-size: 1.1em;
}

.buyer-form {
	width: 20%;
	display: inline-block;
	margin: 0 6.5%;
	vertical-align: top;
}

.contact-form {
	width: 50%;
}

#acheteur_modele {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	margin-left: 0;
}

#acheteur_modele_1 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_marque_1 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_modele_2 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_marque_2 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_modele_3 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_marque_3 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_email {
	width: 100%;
}

#acheteur_phone_number {
	width: 100%;
}

#acheteur_nom {
	width: 100%;
}

#acheteur_code_postal {
	width: 100%;
}