.header-rechercher {
	height: 22em;
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Website+assets/header-vendre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
}

.form-intro {
	text-align: center;
	font-size: 1.4em;
	font-family: 'Montserrat';
	color: rgb(97, 153, 200);
  padding-top: 2em;
  background-color: rgb(245, 245, 246);
  padding-bottom: 1em;
  margin-bottom: -1em;
}

.global-form {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5em;
	width: 80%;
}

.form-title {
	font-size: 1.3em;
	margin-bottom: 1.3em;
	margin-top: 1.5em;
}

.criteria-label {
	margin-bottom: 1.4em;
	font-size: 1.1em;
	color: #69a2d2;
}

.criteria-label:hover {
	text-decoration: underline;
	color: black;
}

.form-label {
	font-size: 1.1em;
	margin-bottom: 0.2em;
}

.form-field {
	margin-bottom: 1em;
}

.inter-label {
	margin-top: 0.8em;
	margin-bottom: 0em;
}

.et-label {
	margin-bottom: 0em;
}

.group-field {
	margin-bottom: 2em;
}

.buyer-form {
	width: 20%;
	display: inline-block;
	margin: 0 6.5%;
	vertical-align: top;
}

.contact-form {
	width: 50%;
}

.open-optional-fields {
	text-align: center;
	color: #69a2d2;
	font-size: 1.3em;
	margin-bottom: 1.5em;
	margin-top: 2em;
}

.em {
	width: 1.2em !important;
	height: 1.2em !important;
	vertical-align: sub !important
}

#acheteur_modele {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	margin-left: 0;
}

#acheteur_modele_1 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_marque_1 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_modele_2 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_marque_2 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_modele_3 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_marque_3 {
	border: thin solid rgb(105, 162, 210);
	width: 100%;
	border-radius: 5px;
	box-shadow: inherit;
}

#acheteur_email {
	width: 100%;
}

#acheteur_phone_number {
	width: 100%;
}

#acheteur_nom {
	width: 100%;
}

#acheteur_code_postal {
	width: 100%;
}

@media only screen and (max-width: 900px) {

	.header-rechercher {
		height: 27em;
	}

	.global-form {
		width: 100%;
	}

	.form-intro {
		font-size: 1.3em;
	}

	.buyer-form {
		width: 90%;
	}

	.contact-form {
		width: 90%;
	}

	.open-optional-fields {
		font-size: 1.2em;
	}

}
