.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: none;
    position: relative;
    /*overflow: hidden;*/
    white-space: nowrap;
    height: 100%;
    /*z-index: 1;*/
}

.slick-current {
  background-color: #69a2d2;
}

.slick-slide img {
  margin: 0 auto;
}

.slider-nav {
  background-color: #e2f3f2;
  height: 100%;
}

.clients-slider {
  width: 60%;
  margin: 0 auto;
  position: relative;
  height: 53em;
}

.slick-dots {
	bottom: 0px !important;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

.slick-dots li button:before {
	color: white !important;
	font-size: 15px !important;
}

.fa-angle-left {
  color: white;
  width: 1em;
  height: 1em;
}

.slider-left {
  display: block;
  position: absolute;
  top: 0;
  z-index: 10;
  margin-left: 0.3em;
  margin-top: 25%;
}

.desktop-left {
  font-size: 9em;
}

.mobile-left {
  font-size: 4em;
}

.fa-angle-left:hover {
  opacity: 0.7;
}

.fa-angle-right {
  color: white;
  width: 1em;
  height: 1em;
}

.slider-right {
  display: block;
  position: absolute;
  top: 0;
  right: -0.4em;
  z-index: 10;
  margin-top: 25%;
}

.desktop-right {
  font-size: 9em;
}

.mobile-right {
  font-size: 4em;
}

.fa-angle-right:hover {
  opacity: 0.7;
}

.client-serein-caption {
  position: absolute;
  padding: 1em;
  z-index: 3;
  font-family: 'Montserrat';
  font-size: 1.3em;
  color: black;
  background-color: rgba(255, 255, 255, 0.84);
  border-radius: 10px;
}

/*.client-desktop {
  display: block;
}

.client-mobile {
  display: none;
}*/

.caption-p {
  word-break: break-word;
  white-space: normal;
  margin-bottom: 0em;
  font-family: 'Montserrat-Light';
}

.client-serein {
  background-position: center;
  background-size: 80em auto;
  background-repeat: no-repeat;
  background-attachment: inherit;
}

.smart-1 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Success+club/Smart-Fortwo-Cabrio---Jonathan---WEB+-ImmatN7.jpg");
}

.smart-1-caption {
  width: 25em;
  margin-top: 1em;
  margin-left: 1em;
}

.fiat-500 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Success+club/Fiat-500-Zacchari.jpg");
}

.fiat-500-caption {
  width: 25em;
  margin-top: 1em;
  margin-left: 1em;
}

.smart-2 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Success+club/Smart+Fortwo+Cabrio+-+Pierre-Olivier+1+-+WEB.jpg");
}

.smart-2-caption {
  width: 30em;
  margin-top: 1em;
  margin-left: 1em;
}

.mini-countryman {
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Success+club/Mini+Countryman+-+Marie-Christine+et+Alain+-+WEB.jpg");
}

.mini-countryman-caption {
  width: 20em;
  margin-top: 1em;
  margin-right: 1em;
  position: inherit;
  float: right;
}

.mini-pichault {
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Success+club/Mini+Cooper+-+Nicolas+Pichault+-+sans+logo+-+WEB.jpg");
}

.mini-pichault-caption {
  width: 20em;
  margin-top: 1em;
  margin-left: 1em;
}

.citroen-odile {
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Success+club/A0005A+-+Citroen+C3+-+Odile+-+NO+LOGO+-+WEB.jpg");
}

.citroen-odile-caption {
  width: 20em;
  margin-top: 1em;
  margin-left: 1em;
}

.mobile-caption-hidden {
  display: block;
}

.slider-for {
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 2em;
}

@media only screen and (max-width: 900px) {

  .slick-slider {
    /*top: 10%;*/
    /*margin-top: -6em;*/
  }

  .slick-slider.slick-track,
  .slick-slider.slick-list
  {
    transform: none;
    position: relative;
  }

/*  .slick-initialized .slick-slide
    {
    display: block;
    overflow:hidden;
    }*/

  .clients-slider {
    width: 95%;
    height: 29em;
  }

  .client-serein-caption {
    position: absolute;
    width: 12em;
    padding: 1em;
    z-index: 3;
    font-family: 'Montserrat';
    font-size: 1em;
    color: black;
    background-color: rgba(255, 255, 255, 0.84);
    border-radius: 10px;
  }

/*  .client-desktop {
    display: none;
  }

  .client-mobile {
    display: block;
  }*/

  .smart-1-caption {
    margin-top: 0em;
    margin-left: 0em;
  }

  .smart-2-caption {
		margin-top: 1em;
    position: absolute;
    right: 50%;
  }

  .mini-countryman-caption {
    width: 13em;
    margin-top: 1em;
    margin-right: 1em;
    position: inherit;
    float: right;
  }

  .mobile-caption-hidden {
    display: none;
  }

  .client-serein {
    background-size: 45em auto;
    background-color: #e2f3f2;
  }

  .client-serein {
    background-size: 45em auto;
    background-color: #e2f3f2;
  }

  .client-right, .client-left {
    margin-top: 44%;
  }

  .slider-wrap {
    width: 100%;
    overflow-x: hidden;
  }

  .slider-for {
    width: 100%;
    display: inline;
    margin-top: 8em;
  } 


}