.header-sold {
  height: 50em;
  background-image: url("https://s3-eu-west-1.amazonaws.com/nationale7v1/Website+assets/page-vendues-noir.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
}

.sold-tagline-wrap {
  text-align: center;
  left: 0;
  right: 0;
  padding-top: 21.5em;
}

.sold-h1-tagline {
	color: white;
	font-size: 3.4em;
  font-family: 'Montserrat-Light';
  text-align: center;	
}

.sold-h2-tagline {
	color: white;
	font-size: 2.06em;
  font-family: 'Montserrat-Light';
  text-align: center;	
  margin-top: 1em;
}

.acheter-button-sold {
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  font-size: 1.8em;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat-UltraLight';
  width: 27%;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4em;
  background-color: #E54B40;
  float: right;
  margin-right: 18%;
  padding-right: 0.8em;
  padding-left: 0.8em;
  left: 67%;
  margin-top: -3.5em;
  position: absolute;
}

.filters-wrap-sold {
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {

	.sold-tagline-wrap {
  	text-align: center;
  	left: 0;
  	right: 0;
  	padding-top: 16.5em;
	}

	.filters-wrap-sold {
		height: 13em;
	}

	.acheter-button-sold {
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font-size: 2em;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-UltraLight';
    width: 11em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E54B40;
    margin: 0 auto;
    margin-bottom: 2em;
    float: none;
    position: inherit;
  }

  .filters-wrap-sold {
    height: 12em;
    display: inherit; 
    justify-content: inherit; 
    align-items: inherit; 
  }

}