// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Montserrat-Light";
  src: font-url(/assets/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-UltraLight";
  src: font-url(/assets/Montserrat-UltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: font-url(/assets/Montserrat-Light.otf) format("truetype");
}

@font-face {
  font-family: "Montserrat-UltraLight";
  src: font-url(/assets/Montserrat-UltraLight.otf) format("truetype");
}