<div class="service-acheteur">

  <h2 class="recherche-title"><span>À LA RECHERCHE D'UNE VOITURE</span><span> EN PARTICULIER ?</span></h2>

  <%= link_to(raw('<i class="fa fa-bell fa-lg" aria-hidden="true"></i>&nbsp Je crée une alerte !'), acheteurs_path, class: "alertes-bouton-grand" )%>

</div>