<div class="prix-cta">
  <h2 class="recherche-title"><span>UNE ÉQUIPE HORS-PAIR POUR</span><span>ACHETER OU VENDRE VOTRE VOITURE !</span></h2>
	
	<%= link_to 'J\'achète avec N7 !', acheter_voiture_occasion_path, class: "prix-button prix-acheter" %>
	<%= link_to 'Je vends avec N7 !', vendre_voiture_occasion_path, class: "prix-button prix-vendre" %>

	<%= link_to 'Acheter avec N7', acheter_voiture_occasion_path, class: "prix-button-mobile prix-acheter-mobile" %>
	<%= link_to 'Vendre avec N7', vendre_voiture_occasion_path, class: "prix-button-mobile prix-vendre-mobile" %>

</div>